.home {
    background-image: url(../../img/slide2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home h1 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    line-height: 120px;
    margin: 10px;
}

p {
    font-size: 20px;
    color: #787474;
    letter-spacing: 2px;
    font-weight: 300;
}

button {
    width: 150px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 20px;
}